body{
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
}

.Card-1{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between  ;
    border: white;
    border-radius: 32px;
    width: 1300px;
    height: 545px;
    padding-right: 40px;
    padding-left: 40px;
}

.Properties-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 53px;
}

.Episode-1{
    color: #118DA8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn-1{
    border: transparent;
    border-radius: 6px;
    background-color: #191919;
    width: 73px;
    height: 27px;
}

.btn-1 a{
    text-decoration: none;
    color: white;
}

.title-1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 2.56px;
}

.text-1{
    color: #FFFFFFB2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0%;
}

.pon-btn-1 {
    background-color: #118DA8;
    width: 208px;
    height: 51px;
    border-radius: 6px;
    border: transparent;
}

.pon-btn-1 a{
    text-decoration: none;
    color: white;    
}

.Card-2{
    display: flex;
    background-color: #E1EDE6;
    align-items: center;
    justify-content: space-between  ;
    border: white;
    width: 290px;
    height: 514px;
}

.Properties-2 img{
    padding-left: 20px;
    padding-right: 20px;
}

.Episode-2{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #86928B;
    padding-left: 20px;
}

.btn-2{
    width: 250px;
    height: 50px;
    top: 434px;
    left: 20px;
    border-width: 1px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px;
    gap: 6px;
    background-color: #E1EDE6;
    border-color: #598D66;
    margin-left: 20px;

}

.btn-2 a{
    text-decoration: none;
    color: #598D66;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-bottom: 29px;

}

.title-2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 20px;
}

.text-2{
    color: #2C2D35;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 20px;
}

.price-2{
    color: #598D66;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 20px;
}

.pon-btn-2 {
    background-color: #118DA8;
    width: 208px;
    height: 51px;
    border-radius: 6px;
    border: transparent;
}

.pon-btn-2 a{
    text-decoration: none;
    color: white;    
}

.Card-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    width: 380px;
    height: 582px;
    border-radius: 10px;
    border-width: 1px;
}

.Properties-3{
    margin-left: 44px;
    margin-right: 89px;
    margin-bottom: 50px;
}

.Episode-3{
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #86928B;
    padding-left: 20px;
}

.btn-3{
    width: 163px;
    height: 68px;
    top: 434px;
    left: 20px;
    background-color: #FED84C;
    border: transparent;
    border-radius: 6px;
}

.btn-3 a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 143%;
    letter-spacing: 0%;
    color: #2E363E;
    padding-left: 44px;
    padding-right: 89px;
    margin-top: 37px;
}

.text-3{
    color: #2E363E;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-left: 44px;
    padding-right: 96px;

}

.price-3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #434B53;
}

.pon-btn-3 {
    background-color: #118DA8;
    width: 208px;
    height: 51px;
    border-radius: 6px;
    border: transparent;
}

.pon-btn-3 a{
    text-decoration: none;
    color: white;    
}

.Card-4{
    display: flex;
    flex-direction: column;
    background-color: #0C0B15;
    width: 330px !important;
    height: 400px;
    border-radius: 10px;
}

.title-4{
    color: #FFFFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0px;
}

.text-4{
    color: #809FB8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0px;
}

.images-1{
    margin: 21.7px;
    margin-left: 27.21px;
    gap: 191.79px;
}

.images-2{
    margin-top: 23px;
    margin-right: 23px;
}
